#tex{
    font-family: cursive;
    text-align: center;
    color: #FA6E6E;
}
#tex2{
    font-family: cursive;
    text-align: center;
    color: #FA6E6E;
}
#tex3{
    color: #FA56CB;
}
body{
   
    background-color:#F9B0A7;
}