body{
    background-color:#B0D6F7;
}
header{
    background-color:#65B2F7;
}
#titulo1{
    font-family: inherit;
    text-align: center;
    color: #B8FFE2;
    }
#imagen1{
    
}
#tex{
    text-align: center;
    background-color: #B8FFE2;
}
#tex2{
    text-align: center;
    background-color: #B8FFE2;
}