#tex1{
    font-family: inherit;
    text-align: center;
    color: #71D0D4;
}
#tex{
    font-family: inherit;
    text-align: center;
    color: #71D0D4;
}
#tex2{
    font-family: inherit;
    text-align: center;
    color: #71D0D4;
}
body{
    background-color:#B0D6F7;
}
#tex9{
    color:#71A7D4;
    text-align: center;
}