#tex1{
    font-family: inherit;
    text-align: center;
    color: #B3C488;
}
#tex{
    font-family: inherit;
    text-align: center;
    color: #67BF1D;
}
#tex2{
    font-family: inherit;
    text-align: center;
    color: #67BF1D;
}
#tex4{
    font-family: inherit;
    text-align: center;
    color: #67BF1D;
}
#tex5{
    font-family: inherit;
    text-align: center;
    color: #67BF1D;
}
#tex6{
    font-family: inherit;
    text-align: center;
    color: #67BF1D;
}
#tex7{
    font-family: inherit;
    text-align: center;
    color: #67BF1D;
}
#tex8{
    font-family: inherit;
    text-align: center;
    color: #67BF1D;
}
#tex9{
    font-family: inherit;
    text-align: center;
    color: #67BF1D;
}
body{
    background-color:#CDF765;
}