body{
    background-color:#F3F48F;
}
#tex1{
    font-family: inherit;
    text-align: center;
    color: #E4BE6C;
}
#tex2{
    font-family: inherit;
    text-align: center;
    color: #E4BE6C;
}
#tex4{
    font-family: inherit;
    text-align: center;
    color: #E4BE6C;
}
#tex5{
    font-family: inherit;
    text-align: center;
    color: #E4BE6C;
}